<!DOCTYPE html>
<html>
  <head>
    <title>Pedal House</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Abel" type="text/css" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	 <%= render "partials/header" %>
  
     <%= yield %><!--main view-->

  </body>
</html>
